@font-face {
    font-family: "Houschka";
    src: url("../../assets/fonts/Houschka.ttf");
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    /* Fallback for old browsers */
    background: #4b6cb7;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #182848, #4b6cb7);
}

main {
    max-width: 120rem;
    width: 90%;
    padding: 0.5rem;
    margin: auto;
    padding-top: 1rem;
    font-size: 2rem;
    font-family: "Houschka", Arial, Helvetica, sans-serif;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

h1,
h2,
h3,
p,
ul {
    color: white;
}

h2 {
    text-align: center;
}

#contenedor1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contenedor2 {
    text-align: center;
}

div {
    margin: .1rem;
    padding: 1.2rem;
    color: white;
    border-radius: .5rem;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

#boton {
    padding: 1rem;
    border: none;
    border-radius: .3rem;
    text-transform: uppercase;
}

#divBoton {
    background-color: transparent;
    text-align: center;
}